{% extends "base.html.twig" %}


{% block content %}
    <!-- .row>(.mb-4.col-md-4.col-sm-6>.card.shadow-sm>img+.card-body>h5.card-title{Title $$}+small.text-muted{Rédigé par Auteur $$}+a.btn.mt-4.w-100.btn-outline-primary{Lire la suite})*7 -->
    <div class="row">

            {% include 'partials/_annonce.html.twig' %}

    </div>
{% endblock %}
